.Sides_Bar {
    position: fixed;
    top: 0;
    font-size: xx-large;
    height: auto;
    overflow: auto;
    text-align: center;
    z-index: 1000;
}

.Sides_Bar>table {
    width: 100%;
    height: 100%;
}

.tb_nor {
    background-color: rgb(255, 255, 255);
    color: brown;
    width: 33%;
}

.tb_this {
    background-color: brown;
    color: rgb(255, 255, 255);
    width: 33%;
}