.Sides_Bar {
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: brown;
    width: auto;
    font-size: 150%;
    color: rgb(255, 255, 255);
    height: auto;
    overflow: auto;
    text-align: center;
}