.Words_Part{
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: brown;
    width: auto;
    font-size: 300%;
    color: rgb(255, 255, 255);
    height: auto;
    overflow: auto;
}

.Words_Part_Fill{
    font-size: large;
    margin-top: 5%;
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 5%;
}